/* start project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

/* containers-converter */
.container-converter-left{
    width: 20%;
    height: 100%;
    background-color: #333333;
    position: fixed;
    left: 0;
    top: 0;
}
.container-converter-right{
    width: 80%;
    height: 100%;
    background-color: blueviolet;


}

/*  */