/* start project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vazir;
}

/* body */
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(17vh , 20%) minmax(50% , 80%);
    grid-template-rows: repeat(1, 1fr);
}

/* container asidebar */
.container-asidebar-site {
    height: 100%;
    background-color: var(--bg-left-site);
    left: 0;
    top: 0;
    background-color: black;
}

/* header or top asidebar */
.header-asidebar {
    width: 100%;
    height: 15%;
}

/* title asidebar */
.title-asidebar {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-asidebar>p {
    font-size: 20px;
    font-weight: 700;
    color: var(--bg-right-site);
    cursor: default;
}

/* choose money or measurment */
.button-money-measurment {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button-money-measurment>button {
    width: 47%;
    height: 98%;
    border: 1px solid rgba(0, 0, 0, 0.829);
    background-color: var(--bg-right-site);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: rgb(34, 34, 34);
}

.button-money-measurment>button:hover {
    transform: scale(1.03);
    color: black;
    font-weight: 400;
}
.button-money-measurment>button:focus{
    background-color: #494e52;
}
/* separator line */
.separator-line {
    width: 100%;
    height: 1.76px;
    margin-top: 15px;
    background-image: linear-gradient(90deg, var(--bg-left-site), rgb(187, 187, 187), var(--bg-left-site));
}

/* suggestions */
.container-suggestions {
    width: 100%;
    height: 45%;

}

/* title suggestion */
.title-suggestions {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding: 0px 13px;
}

.title-suggestions>p {
    font-size: 16px;
    font-weight: 400;
    color: var(--bg-right-site);
}

/* suggestions */
.suggestion-asidebar {
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

/* chiled-suggestion */
.suggestion-convrsion {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestion-convrsion>button {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(15, 15, 24);
    border: 1px solid black;
    border-radius: 5px;
    flex-shrink: 5;
    cursor: pointer;

}

/* name-money and icon */
.names-money {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 3;

}

.names-money>p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 3;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.container-icon-exchange {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-exchange {
    color: white;
}


/* container-prices */
.container-prices {
    width: 100%;
    height: 34.8%;
    /* background-color: aqua; */
    padding-top: 15px;
}

/* title-prices */
.title-prices {
    width: 100%;
    height: 12%;
    padding-right: 13px;
}

.title-prices>p {
    font-size: 16px;
    font-weight: 400;
    color: var(--bg-right-site);
}

/* prices */
.prices {
    width: 100%;
    height: 88%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.prices-item-1 {}

.prices-item-2 {}

.prices-item-3 {}

/* container-right-site */
.container-converter-right {
    height: 100%;
    background-color: var(--bg-right-site);
    background-color: aqua;
}