/* start project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vazir;
}

/* body */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

/* container asidebar */
.container-asidebar-site {
    width: 20%;
    height: 100%;
    background-color: var(--bg-left-site);
    position: fixed;
    left: 0;
    top: 0;
}

/* header or top asidebar */
.header-asidebar {
    width: 100%;
    height: 15%;
}

/* title asidebar */
.title-asidebar {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-asidebar>p {
    font-size: 20px;
    font-weight: 700;
    color: var(--bg-right-site);
    cursor: default;
}

/* choose money or measurment */
.button-money-measurment {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.button-money-measurment>button {
    width: 47%;
    height: 98%;
    border: 1px solid rgba(0, 0, 0, 0.829);
    background-color: var(--bg-right-site);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.button-money-measurment>button:hover {
    transform: scale(1.03);
    background-color: #dbe7f0;
}

/* separator line */
.separator-line{
    width: 100%;
    height: 1.76px;
    margin-top: 15px;
    background-image: linear-gradient(90deg, var(--bg-left-site) , white , var(--bg-left-site));
}

/* container-right-site */
.container-converter-right {
    width: 80%;
    height: 100%;
    background-color: var(--bg-right-site);
}