body {
    font-family: vazir;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --bg-right-site: #00adb5;
    --bg-left-site: #222831;
    --bg-child-rite-site: #393e46;
    --button-site: #1b1b1b;
    --font-color-right: white;
    --font-color-left: #eeeeee;
    --box-calcualation: #010b13;
    --button-calcualation: #010b13d7;
    --section2-button-calcualation: #222f3d;
    --color-icon-nav: #f5f5f5;
}
