/* start project */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vazir;
}
a{
    text-decoration: none;
}

/* body */
.container {
    height: 100vh;
    display: grid;
    align-items: center;
    /* grid-template-columns: minmax(30vh, 2fr) minmax(15vh, 8fr); */
    grid-template-columns: minmax(4vh , 1fr) minmax(30vh , 49fr);
}


/* container asidebar */

.container-asidebar-site {
    height: 100%;
    background-color: var(--bg-right-site);
}

/* container icon bar */
.container-i-bar{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 15px;
}
/* icon bar */
.fa-bars{
    font-size: 23px;
    color: var(--bg-left-site);
}
.fa-cog{
    font-size: 21px;
    color: var(--bg-left-site);

}

/* asidebar */
.asidebar{
    height: 100%;
    display: none;
}


/* header or top asidebar */
.header-asidebar {
    width: 100%;
    height: 100px;
    max-height: 13%;
    min-height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* title asidebar */
.title-asidebar {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-asidebar>p {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: var(--bg-left-site);
    cursor: default;
}

/* choose money or measurment */
.button-money-measurment {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;

}

.button-money-measurment>button {
    width: 47%;
    min-width: 43%;
    height: 90%;
    border: 2px solid transparent;
    background-color: var(--bg-left-site);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: rgb(34, 34, 34);
}

.button-money-measurment>button:hover {
    transform: scale(1.03);
    color: var(--bg-right-site);
    font-weight: 500;
}

.button-money-measurment>button:focus {
    background-color: #494e52;
    color: var(--bg-left-site);
}

/* separator line */
.separator-line {
    width: 100%;
    height: 1.7px;
    background-image: linear-gradient(90deg, var(--bg-right-site), rgb(187, 187, 187), var(--bg-right-site));
}

.line {
    margin-top: 16px;
}

/* suggestions */
.container-suggestions {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* title suggestion */
.title-suggestions {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding: 0px 13px;
}

.title-suggestions>p {
    font-size: 14px;
    font-weight: 400;
    color: var(--bg-left-site);
}

/* suggestions */
.suggestion-asidebar {
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}

/* chiled-suggestion */
.suggestion-convrsion {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestion-convrsion>button {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(15, 15, 24);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

}

/* name-money and icon */
.names-money {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.names-money>p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
    color: rgb(195, 192, 204);
}

.container-icon-exchange {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-exchange {
    color: white;
}


/* container-prices */
.container-prices {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    justify-content: center;
}

/* title-prices */
.title-prices {
    width: 100%;
    height: 20%;
    display: flex;
    margin-top: 5px;
    align-items: flex-end;
    justify-content: right;
    padding: 0px 13px;
}

.title-prices>p {
    font-size: 14px;
    font-weight: 400;
    color: var(--bg-left-site);
}

/* prices */
.prices {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 6px 0 ;
    align-items: center;
    justify-content: center;
}

.prices>div {
    width: 100%;
    height: 13%;
    padding: 0 16px;
    color: beige;
}
.prices>div>a{
    color: rgb(195, 192, 204);
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-----------------------------------------------------*/
/* container-right-site */
.main-site {
    height: 100%;
    background-color: var(--bg-left-site);
}