/* به نام خالق جهان */
/* AMIR HOSSEIN PASBAN */


/* start project */
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: vazir;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --bg-right-site: #00adb5;
    --bg-left-site: #222831;
    --bg-child-rite-site: #393e46;
    --button-site: #1b1b1b;
    --font-color-right: white;
    --font-color-left: #eeeeee;
    --box-calcualation: #010B13;
    --button-calcualation: #010b13d7;
    --section2-button-calcualation: #222f3d;
}

/* all container */
.container {
    background: var(--bg-left-site);
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    /* grid-template-columns: minmax(30vh, 2fr) minmax(15vh, 8fr); */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-right: 40px;
}


/* container asidebar */

.container-asidebar-site {
    position: fixed;
    min-width: 40px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--bg-left-site);
    /* border-left: 2px solid var(--bg-left-site); */
    z-index: 7;
    border: 1px solid black;

}

/* container icon bar */
.container-i-bar {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 15px;
}

/* icon bar */
.fa-bars {
    font-size: 25px;
    color: var(--bg-right-site);
}

.fa-cog {
    font-size: 24px;
    color: var(--bg-right-site);

}

/* asidebar */
.asidebar {
    width: 250px;
    height: 100%;
    display: none;
    overflow-y: auto;
    background-color: var(--bg-child-rite-site);
}

.menu-asidebar {
    position: relative;
}

.menu-asidebar>ul {
    width: min-content;
    height: 100vh;
    list-style-type: none;
    position: absolute;
    right: 32px;
    top: -10px;
}

.menu-asidebar>ul>li {
    width: 100%;
    height: 100%;
}

.menu-asidebar:hover .asidebar {
    display: flex;
    flex-direction: column;
}

/* header or top asidebar */
.header-asidebar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* title asidebar */
.title-asidebar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-asidebar>p {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: var(--bg-left-site);
    cursor: default;
}

/* choose money or measurment */
.button-money-measurment {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;

}

.button-money-measurment>button {
    width: 47%;
    min-width: 43%;
    height: 40px;
    border: 2px solid transparent;
    background-color: var(--bg-left-site);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: rgb(34, 34, 34);
}

.button-money-measurment>button:hover {
    transform: scale(1.03);
    color: var(--bg-right-site);
    font-weight: 500;
}

.button-money-measurment>button:focus {
    background-color: #494e52;
    color: var(--bg-left-site);
}

/* separator line */
.separator-line {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, var(--bg-right-site), rgb(187, 187, 187), var(--bg-right-site));
}

.line {
    margin-top: 16px;
}

/* suggestions */
.container-suggestions {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* title suggestion */
.title-suggestions {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding: 0px 13px;
}

.title-suggestions>p {
    font-size: 14px;
    font-weight: 400;
    color: var(--bg-left-site);
}

/* suggestions */
.suggestion-asidebar {
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}

/* chiled-suggestion */
.suggestion-convrsion {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestion-convrsion>button {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(15, 15, 24);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

}

/* name-money and icon */
.names-money {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.names-money>p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
    color: rgb(195, 192, 204);
}

.container-icon-exchange {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-exchange {
    color: white;
}


/* container-prices */
.container-prices {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    justify-content: center;
}

/* title-prices */
.title-prices {
    width: 100%;
    height: 20%;
    display: flex;
    margin-top: 5px;
    align-items: flex-end;
    justify-content: right;
    padding: 0px 13px;
}

.title-prices>p {
    font-size: 14px;
    font-weight: 400;
    color: var(--bg-left-site);
}

/* prices */
.prices {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 6px 0;
    align-items: center;
    justify-content: center;
}

.prices>div {
    width: 100%;
    height: 13%;
    padding: 0 16px;
    color: beige;
}

.prices>div>a {
    color: rgb(195, 192, 204);
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* parent setting */
.parent-setting {
    position: relative;
}

.parent-setting>ul {
    width: min-content;
    height: 100vh;
    list-style-type: none;
    position: absolute;
    right: 33px;
    top: -54px;
}

.parent-setting>ul>li {
    width: 100%;
    height: 100%;
}

.parent-setting:hover .setting {
    display: flex;
    flex-direction: column;
}


/* setting site */
.setting {
    width: 250px;
    height: 100%;
    display: none;
    overflow-y: auto;
    background-color: var(--bg-right-site);
}

/* title setting */
.title-setting {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-setting {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: var(--bg-left-site);
    cursor: default;
}

/* items setting */
.container-items-setting {
    width: 100%;
    height: max-content;
    display: flex;
    padding-top: 10px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* first items setting */
.item-setting-1 {
    width: 90%;
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    /* background-color: var(--button-site); */

}

/* language */
.topic-button {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 5px; */
}

.topic-button>p {
    color: var(--font-color-right);
    font-size: 1.1rem;
}

/* choose language */
.choose-language {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* padding: 1px; */
    background-color: rgb(90, 90, 90);
    /* background-color: aqua; */
    border-radius: 6px;
}

.choose-language>button {
    width: 50%;
    height: 100%;
    background-color: transparent;
    /* border-radius: 8px; */
    color: var(--font-color-right);
    font-size: .95rem;
    border: none;
}

.choose-language>button:focus {
    background-color: rgba(240, 240, 240, 0.904);
    color: black;
}

/* secound item setting */
.item-setting-2 {
    width: 90%;
    height: 40px;
    background-color: var(--button-site);
    /* padding-right: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.item-setting-2>a {
    color: white;
}

/*-----------------------------------------------------*/

/* container-left-site */
.container-main-site {
    width: 100%;
    height: 100%;
    background-color: var(--bg-left-site);
}

/* main site */
.main-site {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--bg-left-site);
}

/* icon site */
.icon-site {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* border-radius: 0 0 50px 50px; */

    background-color: var(--bg-right-site);
}

.icon-site>p {
    font-size: 1.3rem;
    font-width: 300;
    color: var(--font-color-left);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon-site>p>span {
    font-size: 1.6rem;
    font-weight: 900;
    color: #002147;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon-site>a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-site>a>img {
    height: 100%;
    width: 100%;
}

/* title main site */
.title-ms-measurement {
    width: 100%;
    height: 50px;
    padding-top: 35px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-ms-measurement>h2 {
    font-size: 22px;
    color: var(--bg-right-site);
}

/* calculation box */
.calculation-box {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* background-color: brown; */
    padding-top: 25px;
}

/* quantity */
.quantity {
    width: 250px;
    height: 45px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    background-color: var(--section2-button-calcualation);
}

.quantity-child-1 {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 13px 0 0 13px;
    background-color: var(--box-calcualation);
}

.quantity-child-1>p {
    font-size: .9rem;
    font-weight: 500;
    color: var(--font-color-left);
}

.quantity-child-2 {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container convert to and of */
.container-convert-to-of {
    width: 250px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* convert of to */
.convert-to-of {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: var(--section2-button-calcualation);
}

.convert-to-of-child-1 {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 13px 0 0 13px;
    background-color: var(--box-calcualation);
}

.convert-to-of-child-1>p {
    font-size: .9rem;
    font-weight: 500;
    color: var(--font-color-left);
}

.convert-to-of-child-2 {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* convert amount */
.convert-amount {
    width: 250px;
    height: 45px;
    border-radius: 4px;
    border: none;
    background-color: var(--section2-button-calcualation);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.amount-child-1 {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 13px 0 0 13px;
    background-color: var(--box-calcualation);
}

.amount-child-1>p {
    color: var(--font-color-left);
}

.amount-child-2 {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount-child-2>input {
    width: 95%;
    height: 90%;
    border-radius: 4px;
    border: none;
    padding: 0 10px;
    color: var(--font-color-left);
    background-color: rgba(255, 255, 255, 0);
}

.amount-child-2>input::placeholder {
    color: var(--font-color-left);
    font-size: 14px;

}


.amount-child-2>input:focus {
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--font-color-left);
}

/* menu drop down in main site */
.menu-drop-down-ms {
    width: 100%;
    height: 100%;
}

.menu-drop-down-ms>li {
    width: 100%;
    height: 100%;
    padding: 0 10px 0 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-drop-down-ms>li>a {
    color: var(--font-color-left);
}

.menu-drop-down-ms>li>i {
    font-size: 19px;
    font-weight: 600;
    color: var(--bg-right-site);
}

/* button convert */
.button-convert {
    width: 200px;
    height: 45px;
}

.button-convert>button {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
    color: var(--font-color-left);
    background-color: var(--box-calcualation);
}

/* statment about my site */
.statment-site {
    margin-top: 50px;
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.child-statment-site {
    width: 100%;
    height: max-content;
}

.child-statment-site>p {
    color: var(--font-color-left);
    font-size: 1rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.child-statment-site>p>span {
    color: var(--bg-right-site);
    font-size: 1.4rem;
    font-size: 700;
}